<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<main layout:fragment="main" class="container my-5" style="padding-top: 120px">
    <form action="/attend/add" method="POST">
        <label for="course"><h3>강좌 선택하기</h3></label>
        <select name="courseId" class="form-control form-control-sm d-inline-block" id="course">
            <option th:each="x : ${course}" th:value="${x.id}">[[${x.name}]]</option>
        </select>
        <br/>
        <br/>
        <button type="submit" class="btn btn-primary">수강 등록하기</button>
    </form>
</main>
</html>