<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<main layout:fragment="main" class="container my-5" style="padding-top: 120px">
    <table class="table">
        <thead class="thead-dark" th:align="center">
        <tr>
            <th scope="col">id</th>
            <th scope="col">닉네임</th>
            <th scope="col">수강 강좌명</th>
            <th scope="col">등록일</th>
            <th scope="col">수정일</th>
        </tr>
        </thead>
        <h3>수강중인 학생 리스트</h3>
        <br/>
        <tbody>
        <tr th:each="x : ${list}" th:align="center">
            <th th:text="${x.studentId}">1</th>
            <td th:text="${x.studentName}">닉네임</td>
            <td th:text="${x.courseName}">강좌명</td>
            <td th:text="${#temporals.format(x.createdAt, 'yyyy년 MM월 dd일')}">등록일</td>
            <td th:text="${#temporals.format(x.updatedAt, 'yyyy년 MM월 dd일')}">수정일</td>
        </tr>
        </tbody>
    </table>
    <a sec:authorize="isAuthenticated()"
       href="/attend/add"
       class='btn btn-success btn align-self-center'>수강 신청</a>
</main>
</html>