<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">

<main layout:fragment="main" class="container my-5" style="padding-top: 120px">
    <form action="/sign-up" method="POST">
        <div class="form-group">
            <label for="nickname">닉네임</label>
            <input type="text" class="form-control" id="nickname" name="username" placeholder="닉네임을 입력하세요." required>
        </div>
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="이름을 입력하세요." required>
        </div>
        <div class="form-group">
            <label for="email">이메일</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="이메일을 입력하세요." required>
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하세요." required>
        </div>
        <div class="form-group">
            <label for="division">사용자 구분</label>
            <select name="role" class="form-control form-control-sm d-inline-block" id="division">
                <option value="student" selected>학생</option>
                <option value="teacher">강사</option>
            </select>
        </div>
        <button class="btn btn-primary">회원 가입</button>
    </form>
</main>
</html>